<nav class="navbar navbar-expand-lg bg-light navbar-light">
<a class="navbar-brand">Recipe Book</a>

<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
<ul class="navbar-nav">
<li class="nav-item" routerLinkActive="active">
    <a class="nav-link" 
    style="cursor:pointer"
    routerLink="/recipes" *ngIf="isAuthenticated">Recipes</a>
</li>
<li class="nav-item" routerLinkActive="active">
    <a class="nav-link" 
    style="cursor:pointer"
    routerLink="/shopping-list" *ngIf="isAuthenticated">Shopping List</a>
</li>
<li class="nav-item" routerLinkActive="active">
    <a class="nav-link" 
    style="cursor:pointer"
    routerLink="/auth" *ngIf="!isAuthenticated">Authenticate</a>
</li>
</ul>

<div class="d-flex" *ngIf="isAuthenticated">
    <div class="dropdown">
        <a class="dropdown-toggle nav-link" id="navbarDropdown" data-toggle="dropdown"> Manage</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="onSaveData()">Save Data</a>
            <a class="dropdown-item" (click)="onFetchData()">Fetch Data</a>
        </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
        </div>
</div>

</div>
</nav>



  
   