<div class="row ml-2 mt-2 d-block" >
    <div class="col-xs-12">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <button class="btn btn-success" type="submit" [disabled]="signupForm.invalid">Save</button> |
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            <div class="row" style="display: block;">
                <div class="col-xs-12">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name" #name>
                </div>
            </div>

            <div class="row" style="display: block;">
                <div class="col-xs-12">
                    <label for="imagePath">Image URL</label>
                    <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" alt="{{name.value}}" class="img-fluid img-responsive">
                </div>
            </div>

            <div class="row" style="display: block;">
                <div class="col-xs-12">
                    <label for="description">Description</label>
                    <textarea id="description" rows="3" class="form-control" formControlName="description"></textarea>
                </div>
            </div>

            <div class="row ml-1 mt-2">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row mt-2" *ngFor="let ingredient of controls; let i = index" [formGroupName]="i">
                        <div class="col-xs-8 mr-2">
                            <input type="text" id="name" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" id="amount" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger ml-2" type="button" (click)="onRemove(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 mt-2">
                    <button class="btn btn-success" (click)="onAddIngredients()" type="button">Add Ingredients</button>
                </div>
            </div>
        </form>
    </div>
</div>